<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBS Threads</title>
</head>
<body>
    <h1>BBS Threads</h1>
    <form action="/create" method="post">
        <div>
            Title<br>
            <input type="text" name="title" placeholder="Thread Title" required>
        </div>
        <div>
            Content<br>
            <textarea name="content" placeholder="Thread Content"></textarea>
        </div>
        <input type="submit" value="Create Thread">
    </form>
    <ul>
        {% for thread in threads %}
            <li><a href="/thread/{{ thread['thread_id'] }}">{{ thread['title'] }}</a> (Created at: {{ thread['created_at'] }})</li>
        {% end %}
    </ul>
</body>
</html>
