<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ thread['title'] }}</title>
</head>
<body>
    <h1>{{ thread['title'] }}</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post['message'] }} (Posted at: {{ post['created_at'] }})</li>
        {% end %}
    </ul>
    <form action="" method="post">
        <input type="text" name="message" placeholder="Your message">
        <input type="submit" value="Post">
    </form>
    <a href="/">Back to threads</a>
</body>
</html>
